DesktopClockExe/bin/
DesktopClockExe/obj/
DesktopClockExe/publish-both/
DesktopClockExe/**/publish/

LivelyClock/
lively-sample-0/
winget-temp/

*.zip
*.log
*.bin

decoded_*
edge_*
dump_*.py
probe_*.py
parse_*.py
extract_notes_storage.py
decode_edge_note.py
find_edge_note_dates.py
inspect_xz_db.py
